<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{% block title %}{{ blog.title }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/styles.less') }}">
<link href="/atom.xml" rel="alternate" title="{{ blog.title }}" type="application/atom+xml">
{% if post %}
<link rel="canonical" href="{{ post.url }}"></link>
{% endif %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-3.0.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/less-1.3.3.min.js') }}"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>
<body>

<div class="container">
  <h1 id="title"><a href="{{ url_for('index') }}">Nekoya Press</a></h1>

    <div class="row nav">
      <div class="col-xs-4"><a href="{{ url_for('blog_archives') }}">archives</a></div>
      <div class="col-xs-4"><a href="{{ url_for('blog_pages') }}">pages</a></div>
      <div class="col-xs-4"><a href="https://twitter.com/nekoya">@nekoya</a></div>
    </div>
</div>

<div id="content" class="container">
{% block content %}{% endblock %}
</div>

<div class="container">
  <p class="credit">nekoya.github.io</p>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35230565-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
